<section class="articles">
    <div class="container">
        <div class="row">
            {{#articles}}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    {{> ../Molecules/article }}
                </div>
            {{/articles}}
        </div>
    </div>    
</section>