{{> ../Atoms/head }}
{{#header}}
    {{> ../Molecules/header }}
{{/header}}
{{> ../Molecules/page-title }}
{{#breadcrumb}}
{{> ../Molecules/breadcrumb }}
{{/breadcrumb}}
{{> ../Organisms/articles }}
{{> ../Molecules/footer }}
{{> ../Atoms/foot }}