<article class="article">
    <div class="article-title text-center">
        {{> ../Atoms/heading }}
    </div>
    <div class="article-content">
        {{> ../Atoms/paragraph }}
    </div>    
</article>