/* ---------------------------------------------------------------------- *\
    Open Sans Light
\* ---------------------------------------------------------------------- */
@font-face {
    font-family: "Open Sans Light";
    src: url("../Fonts/OpenSans-Light.ttf");
}

/* ---------------------------------------------------------------------- *\
    Open Sans Regular
\* ---------------------------------------------------------------------- */
@font-face {
    font-family: "Open Sans Regular";
    src: url("../Fonts/OpenSans-Regular.ttf");
}

/* ---------------------------------------------------------------------- *\
    Raleway Light
\* ---------------------------------------------------------------------- */
@font-face {
    font-family: "Raleway Light";
    src: url("../Fonts/RalewayLight.ttf");
}

/* ---------------------------------------------------------------------- *\
    Raleway Medium
\* ---------------------------------------------------------------------- */
@font-face {
    font-family: "Raleway Medium";
    src: url("../Fonts/RalewayMedium.ttf");
}

/* ---------------------------------------------------------------------- *\
    Raleway SemiBold
\* ---------------------------------------------------------------------- */
@font-face {
    font-family: "Raleway SemiBold";
    src: url("../Fonts/RalewaySemiBold.ttf");
}