/* ---------------------------------------------------------------------- *\
    Fonts
\* ---------------------------------------------------------------------- */
$openSansLight:   "Open Sans Light";
$openSansRegular: "Open Sans Regular";
$ralewayLight:    "Raleway Light";
$ralewayMedium:   "Raleway Medium";
$ralewaySemiBold: "Raleway SemiBold";

/* ---------------------------------------------------------------------- *\
    Colors
\* ---------------------------------------------------------------------- */
$background_header:     #2e3844;
$background_breadcrumb: #656d78;
$background_footer:     #303030;
$page_red:              #ef402a;
$page_white:            #ffffff;
$font_white:            #fafafa;
$font_headings:         #303030;
$font_paragraph:        #4e5860;
$font_section-title:    #272d32;